<menu>
	<!-- change all social icons by modifying the src and make sure to add link destinations by replacing href="#"-->
  <item href="#"><img src="http://userimg.customeriomail.com/kXhQCuyTTqqTTzA2xXeH_twitter_28.png" alt="Twitter" class="social-icon" width="28"></item>		
  <item href="#"><img src="http://userimg.customeriomail.com/zeHphsmFRSejIiPmgmyi_facebook_28.png" alt="Facebook" class="social-icon" width="28"></item>		
  <item href="#"><img src="http://userimg.customeriomail.com/8cvnkFaiSEyLIgUh4fOi_linkedin_28.png" alt="LinkedIn" class="social-icon" width="28"></item>		
  <item href="#"><img src="http://userimg.customeriomail.com/ZqfuIlmKQROZqxeMTEtR_instagram_28.png" alt="Instagram" class="social-icon" width="28"></item>		
</menu>